// COLOR VARIABLES
$color-primary: #f5f187;
$color-secondary: #bfb960;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #737372;

$color-grey-dark-1: #172621;

$white: #fff;
$black: #000;

// Color Theme Swatches in HSLA

$color-primary-hsl: hsl(58, 86%, 75%);
$color-secondary-hsl: hsl(56, 42%, 56%);

$color-grey-light-1-hsl: hsl(0, 0%, 95%);
$color-grey-light-2-hsl: hsl(0, 0%, 44%);

$color-grey-dark-1-hsl: hsl(156, 25%, 12%);

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Serif", serif;

// PADDING VARIABLES
$ph-2: 2rem;
$ph-4: 4rem;
$ph-6: 6rem;
$ph-8: 8rem;
