.btn {
  height: calc(100% + 0.2rem);

  background-color: $color-primary;
  color: $black;
  border: none;
  border-radius: 2rem;
  font-family: $font-primary;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $color-grey-light-2;
    color: $white;
  }
}
